<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Show Item</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Item Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${item.id}">Item Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${item.name}">Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Serial Number:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${item.serialNumber}">Serial Number</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Internal Number:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${item.internalNumber}">Internal Number</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Source of Delivery:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${item.sourceOfDelivery}">Source of delivery</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Delivery Date:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${item.deliveryDate}">Delivery Date</p>
                    </div>
                </div>
                <table class="table table-striped">
                    <div th:if="${not #lists.isEmpty(logs)}">
                        <h2>Item History:</h2>
                    <tr>
                        <th>Timestamp</th>
                        <th>Event</th>
                    </tr>
                    <tr th:each="log : ${logs}">
                        <td th:text="${log.eventDate}"></td>
                        <td th:text="${log.event}"></td>
                    </tr>
                    </div>
                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/item/list">Return to Item List</a>
        </div>
    </div>
</div>

</body>
</html>