<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(companys)}">
        <h2>Company List:</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Company address</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="company : ${companys}">
                <td th:text="${company.id}"></td>
                <td th:text="${company.name}"></td>
                <td th:text="${company.address}"></td>
                <td><a th:href="${'/company/show/' + company.id}">View</a> </td>
                <td><a th:href="${'/company/edit/' + company.id}">Edit</a> </td>
                <td><a th:href="${'/company/delete/' + company.id}">Delete</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/company/new">New Company</a>
        </div>
        <div class="col-sm-3">
            <a href="/index">Main Menu</a>
        </div>
    </div>
</div>

</body>
</html>