<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<div class="container">
    <h2 class="text-center">Show User</h2>
<div class="row">
</div>
<div class="row">
    <div class="col-sm-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">User Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.id}">User Id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Login:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.name}">Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.firstName}">Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.lastName}">Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email address:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.firstName}">Name</p>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:if="${not #lists.isEmpty(items)}">
    <h2>Equipment List:</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Internal Number</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.serialNumber}"></td>
            <td th:text="${item.internalNumber}"></td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="col-sm-3">
        <a th:href="${referer}">Return to Previous Page</a>
    </div>
</div>
</div>

</body>
</html>