<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand" th:text = "${#authentication.getPrincipal()}"></span>
        <a class="navbar-brand my-2 my-lg-0" href="/index">Home</a>
        <a class="float-right" href="#" th:href="@{/logout}">Log Out</a>
    </nav>
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
        <!--&lt;!&ndash;<span class="navbar-brand" th:if="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}">Administrator</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="navbar-brand" th:if="${#authorization.expression('hasAuthority(''TECHNICAL SPECIALIST'')')}">Technical Specialist</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="navbar-brand" th:if="${#authorization.expression('hasAuthority(''PROJECT MANAGER'')')}">Project Manager</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="navbar-brand" th:if="${#authorization.expression('hasAuthority(''USER'')')}">User</span>&ndash;&gt;-->

        <!--<span class="navbar-brand">Administrator</span>-->
        <!--<span class="navbar-brand">Administrator</span>-->
        <!--<span class="navbar-brand">Administrator</span>-->
        <!--<span class="navbar-brand">Administrator</span>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->

        <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
            <!--<ul class="navbar-nav mr-auto">-->
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Link</a>-->
                <!--</li>-->
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Dropdown-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--<a class="dropdown-item" href="#">Action</a>-->
                        <!--<a class="dropdown-item" href="#">Another action</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#">Something else here</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<form class="form-inline my-2 my-lg-0">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</nav>-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:if="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}">
        <span class="navbar-brand">Administrator</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContentAdmin">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/list">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/search">User Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/role/list">Role List</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:if="${#authorization.expression('hasAuthority(''TECHNICAL SPECIALIST'')')}">
        <span class="navbar-brand">Technical Specialist</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContentIct">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/item/listItems">Item List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/search">Search Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/new">New Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/storageItems">Show Storage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archive/list">Archive List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company/list">Companies List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company/new">New Company</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:if="${#authorization.expression('hasAuthority(''PROJECT MANAGER'')')}">
        <span class="navbar-brand">Project Manager</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContentManager">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/item/listItems">Item List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/search">Search Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/showAssigned">Show Owned Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project/list">Project List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project/showAssigned">Show Owned Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project/new">New Project</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:if="${#authorization.expression('hasAuthority(''USER'')')}">
        <span class="navbar-brand">User</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContentUser">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/item/listItems">Item List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/search">Search Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/showAssigned">Show Owned Items</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>