<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<h2>Main menu</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a href="/item/list">Item List</a>
        </div>
        <div class="col-sm-3">
            <a href="/user/list">User List</a>
        </div>
        <div class="col-sm-3">
            <a href="/project/list">Projects List</a>
        </div>
        <div class="col-sm-3">
            <a href="/company/list">Companies List</a>
        </div>
        <div class="col-sm-3">
            <a href="/role/list">Role List</a>
        </div>
    </div>
</div>

</body>
</html>